In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [10]:
df_DA_US = df[(df['job_country']== 'United States') & (df['job_title_short']=='Data Analyst')]
df_plot = df_DA_US['company_name'].value_counts().head(10).to_frame()
df_plot

                                         count
company_name
Robert Half                                959
Insight Global                             827
Dice                                       584
UnitedHealth Group                         507
Get It Recruit - Information Technology    503
Citi                                       477
Corporate                                  416
SynergisticIT                              374
Centene Corporation                        350
Booz Allen Hamilton                        315